.nav-ul li{
  display: inline-block;
  padding: 10px;
}
.nav-ul li a{
  color: #fff;
  padding: 5px;
  text-decoration: none;
}
.nav-ul{
  padding: 5px;
  margin: 0;
  background-color: skyblue;
}
.footer{
  position: absolute;
  bottom: 0;
  text-align: center;
  width: 100%;
  background-color: skyblue;
}
.search-product-box{
  width: 400px;
  margin: 20px;
  height: 40px;
  border: 1px solid skyblue;
  padding-left: 20px;
}
.inputBox{
  display: block;
  margin: 25px;
  padding: 7px;
  width: 300px;
  border: 1px solid skyblue;
}
.nav-right{
  text-align: right;
}
.logo{
  width: 60px;
  float: left;
  border-radius: 50%;
  margin-top: 2px;
  margin-left: 20px;
}
.invalidInput{
  color: red;
  margin-top: -20px;
  display: block;
  margin-left: 20px;
}
.product-list{
  text-align: center;
  margin-top: 50px;
}
.product-list ul li{
  display: inline-block;
  border: 1px solid skyblue;
  padding: 5px;
  width: 150px;
}
.register, .product{
  margin-left: 32%;
}
.login{
  margin-left: 32%;
  margin-top: 100px;
}
.appButton{
  margin: 25px;
  padding: 10px;
  width: 150px;
  background-color: skyblue;
  border: 1px solid;
  cursor: pointer;
}

